{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {#            <link rel="stylesheet" href="{{ asset('build/app.js') }}"#}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}
